// for small devices
@media (width: 320px) {
  .order-summary-header {
    padding-bottom: 10px;
    font-size: 1.15rem;
  }

  .order-summary-main-text {
    padding-top: 10px;
    padding-bottom: 0;
    font-size: 0.85rem;
  }
}

@media (min-width: 567.98px) {
  .container {
    width: 50%;
    height: 100%;

    #order-summary {
      .order-summary-header {
        font-size: 1.25rem;
      }

      .order-summary-main-text {
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
      }
      .select-plan {
        height: 30%;
      }
    }
  }
}

@media (min-width: 767.98px) {
  body {
    @include background($background-desktop);
  }
  .container {
    width: 90%;

    #order-summary {
      .order-summary-header {
        font-size: 2rem;
      }

      .order-summary-main-text {
        font-size: 1.75rem;
        padding: 1rem 10%;
      }
    }

    .select-plan {
      .annual-plan {
        font-size: 1.25rem;
      }

      a {
        font-size: 1.3rem;
      }
    }

    #option-buttons {
      font-size: 1.25rem;
    }
  }
}

@media (min-width: 991.98px) {
  .container {
    width: 500px;
    height: 700px;

    #order-summary {
      .order-summary-header {
        font-size: 1.75rem;
      }
      .order-summary-main-text {
        font-size: 1.2rem;
      }
      .select-plan {
        .annual-plan {
          font-size: 1rem;
        }

        img {
          width: 15%;
        }

        a {
          font-size: 1rem;
        }
      }
    }
  }
}

@media (min-device-width: 800px) and (max-device-width: 915.98px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .container {
    width: 50%;
    height: 100%;

    #order-summary {
      .order-summary-header {
        font-size: 1.25rem;
      }

      .order-summary-main-text {
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
      }
      .select-plan {
        height: 30%;

        img {
          width: 12%;
        }

        .annual-plan {
          font-size: 1rem;
        }

        a {
          font-size: 1rem;
        }
      }
    }
  }
}
